.dropdown{
    display: none;
}
.container-custom {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 1rem is equivalent to gap-3 in Bootstrap */
    margin-left: 30%;
    width: 150%;
    /* border: 2px solid black; */
}
.container-custom span{
    color:var(--text-color)!important;
}
.container-custom h3,h5{
    color:var(--text-color)!important;
}
@media screen and (max-width:1150px) {
    .container-custom{
        display: none;
    }
    .dropdown{
        display: block;
    }

    .dropdown-button{
        width:80vw;
        margin-left: 10%;
    }
    .h4{
        display: none;
    }
    .searching{
        
        margin:1% auto;
    }
    .dropdown-menu{
        width: 80vw;
        transform: translateY(-10px);
        transition: linear 0.3s ease;
    }

}