
    .scroll-container {
      display: flex;
      flex-direction: column;
      animation: scrollUp 10s linear infinite; 
    }

    @keyframes scrollUp {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-50%);
      }
    }
    .scroll-container:hover {
      animation-play-state: paused;
    }
  
    