
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}
navbar{
  position: fixed;
}
.header{
   width: 100vw;
   background-color: var(--primary-color);
   border-bottom:2px solid #bbb;
   top:0;
   left:0;
   position:fixed;
   z-index: 1000;
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--text-color);
	display: none;
	opacity: 0;
    margin-right: 5%;
	font-size: 1.8rem;
}
.navbar{
  display: flex;

}
@media only screen and (min-width :500px) and (max-width: 1024px) {
	header .nav-btn {
		display: block;
		opacity: 1;

	}
  header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 20vh;
		margin-top: 15%;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
        background-color: var(--primary-color);
		z-index: 999;
		transform: translateY(-100vh);
		transition: transform 0.5s ease;
	  }
	  
	  header .responsive_nav {
		transform: translateY(0);
	  }
    header nav .btn{
      display: block;
      margin-bottom: 3%;
    }
    header nav .login{
      margin-left: 25%;
    }

	nav .nav-close-btn {
		position: absolute;
		top: 5%;
		right: 5%;
	}
  .input-group{
    display: none;
  }
  .theme-button{
	margin-left: 35%;
	padding: 8px;
  }
}
@media only  screen and (max-width:500px) {
	.input-group{
		display: none;
	}
	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 30vh;
		margin-top: 25%;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		/* background-color: rgba(41, 51, 92, 0.95); Add transparency */
    background-color: var(--primary-color);
		z-index: 999;
		transform: translateY(-100vh);
		transition: transform 0.5s ease;
	}
	header .responsive_nav {
		transform: translateY(0);
	}
	nav .nav-close-btn {
		position: absolute;
		top: 5%;
		right: 5%;
	}
  header .nav-btn {
		display: block;
		opacity: 1;
    /* margin-left: 40%; */
	}
  header nav .btn{
    display: block;
    margin-bottom: 3%;
    /* margin-left: 2%; */
    /* text-decoration: none; */
  }
  header nav .login{
    margin-left: 25%;
  }
  .navbar{
    align-self: center;
  }
  .theme-button{
	margin-right:10% !important;
	padding: 5px !important;
  }
}